/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.log
.idearuntime
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


.idea/
*/.idea/
.recommenders/
*/.sigar/
*/target/
*.iml
*/*.iml
*/.project/
*/.classpath
*/.settings/
*/.metadata/
*/.externalToolBuilders/
*/RemoteSystemsTempFiles/
velocity.*
*.epoch
*.lck
*/.recommenders/
*/Servers/
.sigar
*/.sigar
*/sigar/
target
.project
.settings
.metadata
.externalToolBuilders