<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <title>登录界面</title>
</head>
<body>
<div id="login">
    <form>
        <input type="text" required="required" placeholder="用户名" v-model="username">
        <input type="password" required="required" placeholder="密码" v-model="password">
        <button id="doLogin" class="but" @click="login()">登录</button>
    </form>
</div>

</body>
</html>

<script type="text/javascript">
    new Vue({
        el:'#app',
        data: {
            message:'hello vue.js.',
            username:'',
            password:'',
        },
        methods:{
            login:function () {
                this.$http.post('localhost:8080/study/user/login',{userName:this.username,password:this.password},{emulateJSON:true}).then(function(res){
                    console.log(res.data);
                    window.location.href = 'index.html';
                },function(res){
                    console.log(res.status);
                });
            }
        },

    });
</script>
